# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*
.venv/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Matplotlib cache
.matplotlib/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# SQLite db (хэрвээ байгаа бол)
db.sqlite3