# Core
fastapi>=0.125.0
uvicorn[standard]>=0.38.0

# Data
pandas>=2.3
numpy>=2.3
pytz>=2025.2
python-dateutil>=2.9

# Validation
pydantic>=2.7
email-validator
jsonschema>=4.25

# Config
python-dotenv>=1.0

# Visualization
matplotlib>=3.10
openpyxl>=3.1

# HTTP
httpx>=0.28

# AI
google-genai>=1.50

# Database
SQLAlchemy>=2.0
asyncpg>=0.29

# Auth / Security
python-jose[cryptography]>=3.3.0
bcrypt>=4.1.0

passlib[bcrypt]>=1.7.4