fastapi
uvicorn[standard]

pandas
numpy
pytz
python-dateutil

pydantic
jsonschema
python-dotenv

matplotlib
requests
google-genai
openpyxl

SQLAlchemy>=2.0
asyncpg>=0.29
passlib[bcrypt]>=1.7.4

python-jose[cryptography]>=3.3.0  
bcrypt>=4.1.0                      
httpx>=0.28                        